@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img{
    background: linear-gradient(0deg, rgba(13, 4, 4, 0.452),rgba(0, 0, 0, 0.452)) ,url("./assets/images//photo//Rectangle1.png");
    background-position:center;
    background-size:  cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    bottom: 0 !important;
    top: auto !important;
    padding: 25px;
    background-color: white;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    position: absolute;
    
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 18px !important;
    font-weight: 900;
}
.swiper{
    overflow: hidden;
    height: fit-content;
}
.swiper-button-next{
    left: 100px !important;
}

.react-google-flight-datepicker .dialog-date-picker.open{
    width: 100% !important;
    position: absolute !important;
    top: -150px !important;
}